#!/bin/bash
#
# apaxy configurator
# v0.2
# use "apaxy-configure.sh" to configure apaxy after adjusting the needed values in this file
# author : Jordan Bancino and Ploc
# contact : jordan [@] bancino.net
# licence : GPLv3

# default log level on the console (the lower the number is, the less verbose it is)
#defaultLogLevel=2

# all log messages are written to log file
#defaultLogFile="apaxy.log"

# the apache web root path where the server serves documents
#
# default for apache is /var/www/html
#
# note that path should be absolute, so make sure it starts with a "/"
# and DO NOT leave a trailing slash
#
# good: "/var/www/html" <- starts with "/", does not have trailing "/"
# bad : "var/www/html/" <- does not start with "/", have a trailing "/"
#
apacheWebRootPath="/var/www/html"

# the directory where apaxy will be used (this is relative to the web server root, and contains the "theme" folder)
#
# for instance: "http://example.org/share" would make this value "/share", where "/share/theme" is the theme directory
#
# note that path should be absolute, so make sure it starts with a "/"
# and DO NOT leave a trailing slash
#
# good: "/share" <- starts with "/", does not have trailing "/"
# bad : "share/" <- does not start with "/", has a trailing "/"
#
# by default, apaxy is configured to be installed at the root level of your web server
#
# if you want apaxy to be installed anywhere else, you can set it in the installWebPath variable
#
# installWebPath="/share"
#
installWebPath=""

# enable lightgallery.js to preview images in the browser with navigation links
#
# this feature is disabled by default as it downloads css and js files from a CDN
#
# please enable it with caution
#
enableGallery=false

# set the default header message displayed on top of each page
defaultHeaderMessage=""

# set the default footer message displayed on bottom of each page
defaultFooterMessage=""
